/* Color Palette: 
1. off-white: #F9F8F8
2. off-black: #282525
3. dark-red: #851010
4. light-gray: #E4E1E1
*/
 
/* GENERAL TEXT OPTIONS */

body {
    background-color: #F9F8F8;
    color: #282525;
    margin: 0;
}

#content {
    background: #F9F8F8;
    font-family: 'Inter', sans-serif;
    margin: auto;
    max-width: 60em;
}

h1  {  
    color: #851010; 
    font-family: "Poppins", sans-serif;
    font-size: 200%;
    margin-bottom: 0.8em !important; 
    padding-top: 1.75em;
    text-align: center !important; 
}

h2, h3 {
    color: #851010;
    font-family: "Poppins", sans-serif;
}

h4 {
    color: #282525;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

a {
    color: #851010;
    text-decoration: underline;
    transition-delay: 0.2s;
}

a:visited, a:hover {
    color: #851010;
}

a:hover {
    font-weight: 600;
    transition-delay: 0.2s;
}

/* NAVIGATION & TABLE OF CONTENTS */

#toggle-sidebar h2, #table-of-contents, 
span, #postamble, #preamble {
    display: none;
}

div.figure, .figure p {
    margin: 0;
    padding: 0;
}

.attc-logo img {
    background-color: #851010;
    left: 0; top: 0;
    max-height: 5.3%;
    position: fixed;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .attc-logo img {
        width: auto;
    }
}

p.tab-navs {
    background-color: #851010;
    line-height: 2.5;
    position: fixed;
    text-align: right;
    top: 0; left: 0;
    width: 100%;
}

.tab-navs a {
    color: #F9F8F8 !important;
    font-size: 125%;
    margin-right: 24px;
    text-decoration: none;
}

/* SEE MORE BUTTONS */

h4 a, h4 a:visited {
    background-color: #851010;
    border-color: #851010;
    border-radius: 25px;
    color: #F9F8F8;
    font-family: "Inter", sans-serif;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.4s;
}

h4 a:hover {
    background-color: #F9F8F8;
    border-color: #851010;
    border-width: thick;
    color: #851010;
    font-weight: bold;
    transition-duration: 0.4s;
}

/* SOURCE CODE FORMATTING */

p.verse { 
    margin-left: 3%; 
}

code {
    background-color: #E4E1E1;
    border-radius: 5px;
    color: #851010;
    font-family: "IBM Plex Mono", monospace;
    font-size: 100%;
    padding: 0%;
}

pre.example {
    background-color: #282525;
    border-radius: 25px;
    border: 1px solid #F9F8F8;
    color: #F9F8F8;
    font-family: "IBM Plex Mono", monospace;
    font-size: medium;
    margin: 1.2em;
    overflow: auto;
    padding: 8pt;
}

pre.src {
    overflow: auto;
    position: relative;
}

pre.src:before {
    background-color: #f2f2f299;
    color: #555;
    display: none;
    padding: 3px;
    position: absolute;
    right: 12px;
    top: -8px;
}

pre.src:hover:before { 
    display: inline; 
    margin-top: 14px;
    }